body {
  font-family: "Onest";
}

.active{
  color: #16a34a;
}

.swiper {
  z-index: 0 !important;
}

.slide{
  height: calc(100vh - 60px);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 50px;
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  min-width: 100%;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 50px));
  }
}

td,th{
  min-width: 125px;
  border: 1px solid #fff;
  border-collapse: collapse;
}